<form class="form" #formAssignment>

    <mat-form-field>
        <input matInput 
            placeholder="Assignment name"
            [(ngModel)]="assignmentName"
            name="name"
        >
    </mat-form-field>
    <mat-form-field>
        <input matInput 
            [matDatepicker]="picker" 
            placeholder="Assignment date" 
            [(ngModel)]="assignmentDate" 
            name="date" required
        >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Auteur (élève)" [(ngModel)]="auteurNom" name="auteurNom" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Photo élève (URL)" [(ngModel)]="auteurPhoto" name="auteurPhoto">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Matière</mat-label>
        <mat-select [(ngModel)]="matiereNom" name="matiereNom" required>
            <mat-option *ngFor="let m of matieres" [value]="m.nom">{{m.nom}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="matiereSelectionnee">
        <img *ngIf="matiereSelectionnee?.image" [src]="matiereSelectionnee?.image" alt="Image matière" width="60">
        <span *ngIf="matiereSelectionnee?.prof?.nom">Prof : {{matiereSelectionnee?.prof?.nom}}</span>
        <img *ngIf="matiereSelectionnee?.prof?.photo" [src]="matiereSelectionnee?.prof?.photo" alt="Photo prof" width="40">
    </div>
    
    <button mat-raised-button 
            color="primary" 
            (click)="onSubmit()"
> 
        Add an assignment
    </button>
</form>