.rendu {
    color: green; /* Texte vert */
    background-color: rgba(0, 255, 0, 0.2); /* Fond vert clair avec 20% d'opacité */
    padding: 10px; /* Ajoute de l'espace interne autour du contenu */
    border-radius: 5px; /* Coins légèrement arrondis */
}

.nonRendu {
    color: red; /* Texte rouge */
    background-color: rgba(255, 0, 0, 0.1); /* Fond rouge clair avec 10% d'opacité */
    padding: 10px; /* Ajoute de l'espace interne autour du contenu */
    border-radius: 5px; /* Coins légèrement arrondis */
}

.form{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: column;
}
.ajouterBtn{
    align-self: flex-end;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  
mat-paginator {
   
 margin-top: 20px;
}

.info {
    text-align: center;
    margin: 10px 0;
    color: #495057;
    border-radius: 8px; 
    padding: 20px;
  
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

span {
    border-radius: 4px;
    padding: 5px 10px;
    
    font-size: 14px; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
  
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
  }
  
  
  
