<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon>Menu</button>
        <button mat-button ><mat-icon>home</mat-icon>Home</button>
        <a routerLink="/login"><button mat-button><mat-icon>login</mat-icon>Login</button></a>
    </mat-toolbar-row>
</mat-toolbar>

<div>
    <h3 style="color: rgb(242, 90, 115);">
        <nav><a routerLink="/home">{{title}}</a> </nav>
    </h3>
</div>



<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="push">
        <mat-list>
            <mat-list-item><a mat-button routerLink="/home" routerLinkActive="active-link">Assignment list</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/add" routerLinkActive="active-link">Add an assignment</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/edit" routerLinkActive="active-link">Edit an assignment</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/delete" routerLinkActive="active-link">Delete an assignment</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
