<div class="login-container">
  <mat-card class="login-mat-card">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        @if (error) {
          <div class="error-message">
            {{ error }}
          </div>
        }

        <button mat-raised-button color="primary" type="submit" class="login-button">
          Se connecter
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>