<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form ngForm (submit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input matInput placeholder="Login" [(ngModel)]="login" name="login" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput placeholder="Password" [(ngModel)]="password" name="password" [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <br>
                <button mat-raised-button color="accen" type="submit">Login</button>
                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
            </form>
        </mat-card-content>
    </mat-card>
</div>
